body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f8f8f8;
}

/* Header, Nav, Footer */
header, nav, footer {
    background: #0655af;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Gambar */
img {
    max-width: 180px;
    border-radius: 8px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}
table, th, td {
    border: 1px solid #5886ca;
}
th, td {
    padding: 8px;
}

/* Project */
.project-img {
    width: 300px;
}

iframe {
    width: 300px;
    height: 180px;
}

/* Highlight box */
.highlight {
    background: #ffeac9;
    padding: 10px;
    border-radius: 6px;
}

/* Form */
fieldset {
    margin: 15px 0;
    padding: 10px;
}
textarea {
    width: 250px;
    height: 80px;
}

button {
    padding: 8px 18px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}

/* Video */
video {
    width: 320px;
    margin-top: 10px;

}

.menu-tugas{ 
 display: flex; 
gap: 20px;} 
.cta-button { 
 background-color: #e74c3 
color: white; 
font-weight: bold; 

padding: 8px 15px; 
border-radius; 5px 

transtition: background-color 0.3s ease; 
